
body {
    max-width: 960px;
    margin: auto;
    background: #F0ECE9;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    color: #B40064;
}

h2 { 
    font-family: 'Tahoma';
    font-size: 14px;
    font-weight: 80;
    color: #5D5956;
}

h3 {
    margin-top: 5px;
    font-family: 'Tahoma';
    font-size: 11px;
    font-weight: 80;
    color: rgb(134, 132, 130);
}

h4 {
    display: inline;
    font-family: 'Tahoma';
    font-size: 12px;
    font-weight: 80;
    letter-spacing: 1px;
    color: white;
}

span {
    color: #B40064; 
    font-weight: bold; 
    font-size: 13px;
    margin-right: 8px;
}

hr {
    border-top: 2px solid purple;
    width: 50px;
    float: left;

}

/* Clearfix, loÄevalni prostor med dvema elementoma */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

#left {
    padding-left: 7%;
}

#right {
    padding-left: 5%;
    border-left: 3px solid #DED9D6;
}

.header {
    float: left;
    width: 35%;
    padding: 20px;
}

.form-control {
    height: 60px;
    width: 90%;
    padding-bottom: 5px;
}

.radio-inline {
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 10%;
  }

.radioSelect {
    position: absolute;
    height: 18px;
    width: 18px;
    margin-right: 0;
    padding-right: 0;
}

input[type=radio]:checked {
    background-color: #B40064;
}

.col-sm-3 {
    float: right;
}

.btn1 {
    border: 0px;
    width: 130px;
    height: 50px;
    box-shadow: 1px 1px 10px 1px #888888;
    font-family: 'Calibri';
    color: white;
    background: #B40064;
}

/* responsive breakpointi */
@media only screen and (max-width: 600px){
    body {
        margin-left: 8%;
    }
    
    #left {
        padding-left: 5%;
    }

    .col-sm-3 {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn1 {
        width: 80%;
    }

    #right {
        border-left: none;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px)  {
    body {
        margin-left: 8%;
    }
    
    #left {
        padding-left: 5%;
    }

    .col-sm-3 {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn1 {
        width: 80%;
    }

    #right {
        border-left: none;
    }
    
    #right > label:nth-child(4) {
        margin-left: 5%;
    }
}
@media only screen and (min-width: 767px) {
    h1 {
        margin-left: 5%;
    }
    hr {
        margin-left: 5%;
    }
}
